flows.json
[{"id":"4b444d32.a34d64","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"835194fe.e5e028","type":"http in","z":"4b444d32.a34d64","name":"","url":"/health","method":"get","upload":false,"swaggerDoc":"","x":170,"y":280,"wires":[["e3fb3c3.7aa03c"]]},{"id":"da0de624.56a998","type":"http response","z":"4b444d32.a34d64","name":"","statusCode":"","headers":{},"x":690,"y":280,"wires":[]},{"id":"e3fb3c3.7aa03c","type":"function","z":"4b444d32.a34d64","name":"Health","func":"msg.payload={'temperature_value':global.get(\"temperature\"),'pulse_rate':global.get(\"pulse\")}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["da0de624.56a998"]]},{"id":"8df16ef9.a928f","type":"ibmiot in","z":"4b444d32.a34d64","authentication":"apiKey","apiKey":"3f70e82b.8e4d88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"rajatgarg23","applicationId":"","deviceType":"Arduino_UNO","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":100,"wires":[["3b5803ae.94b2fc","7f33d63.ac23928","b2a1af1c.627d5"]]},{"id":"3b5803ae.94b2fc","type":"function","z":"4b444d32.a34d64","name":"temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["b2a1af1c.627d5","e0802059.266b5"]]},{"id":"7f33d63.ac23928","type":"function","z":"4b444d32.a34d64","name":"pulse","func":"global.set('pulse',msg.payload.Pulse)\nmsg.payload=msg.payload.Pulse\nreturn msg;\n\n","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["b2a1af1c.627d5","9330b65a.6508b8"]]},{"id":"b2a1af1c.627d5","type":"debug","z":"4b444d32.a34d64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":100,"wires":[]},{"id":"9330b65a.6508b8","type":"ui_gauge","z":"4b444d32.a34d64","name":"","group":"23f8e127.59abfe","order":6,"width":0,"height":0,"gtype":"gage","title":"Pulse Rate","label":"/min","format":"{{value}}","min":"75","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":140,"wires":[]},{"id":"e0802059.266b5","type":"ui_gauge","z":"4b444d32.a34d64","name":"","group":"23f8e127.59abfe","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"celcius","format":"{{value}}","min":"35","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":60,"wires":[]},{"id":"3f70e82b.8e4d88","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"23f8e127.59abfe","type":"ui_group","z":"","name":"Default","tab":"5f5e6b9c.b1b1d4","order":1,"disp":true,"width":8,"collapse":false},{"id":"5f5e6b9c.b1b1d4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]